# Byte-compiled / optimized / DLL files
*.py[cod]
*.pyo
*.pyd
__pycache__/
*.so

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/

# If using Django migrations
*.pyc
*/migrations/*

# If using MySQL
*.sql

# If using PostgreSQL
*.psql

# If using SQLite
*.sqlite3

# Secrets
*.env

# Static files
staticfiles/

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Jupyter Notebook
.ipynb_checkpoints

# PyCharm
.idea/

# VS Code
.vscode/

# OS-specific files
.DS_Store
Thumbs.db
