{% extends 'base.html' %} {% load static %} {% block content %}
<header>
    <div class="container wrapper">
        <h1>
            <a href="#">
                <img
                    src="{% static  '../static/images/logo.svg' %}"
                    alt="Logo"
                />
            </a>
        </h1>
        <div class="right">
            <!-- <button class="blueButton" id="create">
                Create project
            </button> -->
            <div class="userDetails">
                <div class="userImage">
                    {% if current_user.employee.profile_image %}
                        <img src="{{ current_user.employee.profile_image.url }}" alt="User Image">
                    {% else %}
                        <img src="{% static 'images/user-image.png' %}" alt="Default User Image">
                    {% endif %}
                </div>
                <p class="userName">{{ current_user }}</p>
                <div class="arrow">
                    <!-- <img
                        src="{% static '../static/images/dropdown.svg' %}"
                        alt=""
                    /> -->
                </div>
            </div>
        </div>
    </div>
</header>

<div id="logoutModal" class="logoutModal">
    <form class="logoutModal-content" action="{% url 'logout_user' %}" method="POST">
        {% csrf_token %}
        <h4>Logout</h4>
        <p>Are you sure want to Logout ?</p>
        <div class="createButtons">
            <button class="close" id="logoutcancel" type="button">cancel</button>
            <button class="create" id="logoutsave">Logout</button>
        </div>
    </form>
</div>

<div id="container">
    <nav>
        <ul>
            <li class="nav-item">
                <a href="dashboard"
                    ><div class="icon">
                        <img
                            src="{% static 'images/dark-dashboard-icon.svg' %}"
                            alt="Dashboard Icon"
                        />
                    </div>
                    Dashboard</a
                >
            </li>
            <li class="nav-item active" >
                <a href="projects"
                    ><div class="icon">
                        <img
                            src="{% static 'images/white-project-icon.svg' %}"
                            alt="Project Icon"
                        />
                    </div>
                    Projects</a
                >
            </li>
            <li class="nav-item">
                <a href="{% url 'meetings' %}"
                    ><div class="icon">
                        <img
                            src="{% static '/images/dark-meeting-icon.svg' %}"
                            alt="Project Icon"
                        />
                    </div>
                    Meetings</a
                >
            </li>
        </ul>
        <div class="logout" id="logout">
            <a href="#"
                ><div class="icon">
                    <img
                        src="{% static 'images/dark-logout-icon.svg' %}"
                        alt="Logout Icon"
                    />
                </div>
                Logout
            </a>
        </div>
    </nav>
    <div class="content">
    <section id="emptyProject">
        <h4>Projects</h4>
        <div class="emptyProjectFrame">
            <img src="{% static '../static/images/empty-project.png'%}" alt="empty project">
        </div>
    </section>
</div>
</div>
<script>
    const logout = document.getElementById("logout")
    const logoutModal = document.getElementById("logoutModal");
    const logoutCancel = document.getElementById("logoutcancel");

    logout.onclick= () => {
        logoutModal.style.display="block"
    }

    logoutCancel.onclick = () => {
        logoutModal.style.display = "none";
    };
</script>
{% endblock %}