{% extends 'base.html' %} {% load static %} {% block content %}
<header>
    <div class="container wrapper">
        <h1>
            <a href="#">
                <img
                    src="{% static  '../static/images/logo.svg' %}"
                    alt="Logo"
                />
            </a>
        </h1>
        <div class="right">
            <!-- <button class="blueButton" id="create">
                Create project
            </button> -->
            <div class="userDetails">
                <div class="userImage">
                    <img
                        src="{% static '../static/images/user-image.png' %}"
                        alt="User Image"
                    />
                </div>
                <p class="userName">Mark Anderson</p>
                <div class="arrow">
                    <img
                        src="{% static '../static/images/dropdown.svg' %}"
                        alt=""
                    />
                </div>
            </div>
        </div>
    </div>
</header>
<div id="createProjectModal" class="modal">
    <div class="modal-content">
        <h4>Create Project</h4>
        <div class="field">
            <label for="projectName">Project name</label>
            <input type="text" placeholder="Enter project name" />
        </div>
        <div class="field">
            <label for="projectName">Description</label>
            <input
                type="text"
                class="textInput"
                placeholder="Type something about project..."
            />
        </div>
        <div class="field">
            <label for="projectName">Select priority</label>
            <span class="dropDownList"
                ><input
                    type="text"
                    placeholder="Select project priority" />
                <div class="downarrow">
                    <img
                        src="{% static '../static/images/arrow-down.svg' %}"
                        alt="drop down arrow"
                    /></div
            ></span>
        </div>
        <div class="twoFields">
            <div class="field">
                <label for="projectName">Assigning date</label>
                <input type="text" placeholder="DD / MM / YYYY" />
            </div>

            <div class="field">
                <label for="projectName">Submission date</label>
                <input type="text" placeholder="DD / MM / YYYY" />
            </div>
        </div>
        <h6>Team details</h6>
        <div class="twoFields">
            <div class="field">
                <label for="projectName">Project category</label>
                <span class="dropDownList"
                    ><input type="text" placeholder="Select team" />
                    <div class="downarrow">
                        <img
                            src="{% static '../static/images/arrow-down.svg' %}"
                            alt="drop down arrow"
                        /></div
                ></span>
            </div>
            <div class="field">
                <label for="projectName">Team lead</label>
                <span class="dropDownList"
                    ><input
                        type="text"
                        placeholder="Select team lead" />
                    <div class="downarrow">
                        <img
                            src="{% static '../static/images/arrow-down.svg' %}"
                            alt="drop down arrow"
                        /></div
                ></span>
            </div>
        </div>
        <div class="field">
            <label for="projectName">Assigned to</label>
            <span class="dropDownList"
                ><input type="text" placeholder="Select employee" />
                <div class="downarrow">
                    <img
                        src="{% static '../static/images/arrow-down.svg' %}"
                        alt="drop down arrow"
                    /></div
            ></span>
        </div>

        <div class="createButtons">
            <button class="close" id="cancel">cancel</button>
            <button class="create" id="save">Create</button>
        </div>
    </div>
</div>


<div id="editProjectModal" class="editModal">
    <div class="editModal-content">
        <h4>Edit Project</h4>
        <div class="field">
            <label for="projectName">Project name</label>
            <input type="text" placeholder="Enter project name" value="{{ singleProject.project_name }}"/>
        </div>
        <div class="field">
            <label for="projectName">Description</label>
            <input
                type="text"
                class="textInput"
                placeholder="Type something about project..."
                value="{{ singleProject.description }}"
            />
        </div>
        <div class="field">
            <label for="projectName">Select priority</label>
            <span class="dropDownList"
                ><input
                    type="text"
                    placeholder="Select project priority" 
                    value="{{ singleProject.priority }}"
                    />
                <div class="downarrow">
                    <img
                        src="{% static '../static/images/arrow-down.svg' %}"
                        alt="drop down arrow"
                    /></div
            ></span>
        </div>
        <div class="twoFields">
            <div class="field">
                <label for="projectName">Assigning date</label>
                <input type="text" placeholder="DD / MM / YYYY" value="{{ singleProject.assigned_date }}"/>
            </div>

            <div class="field">
                <label for="projectName">Submission date</label>
                <input type="text" placeholder="DD / MM / YYYY" value="{{ singleProject.submission_date }}"/>
            </div>
        </div>
        <h6>Team details</h6>
        <div class="twoFields">
            <div class="field">
                <label for="projectName">Project category</label>
                <span class="dropDownList"
                    ><input type="text" placeholder="Select team" value="{{ singleProject.team }}"/>
                    <div class="downarrow">
                        <img
                            src="{% static '../static/images/arrow-down.svg' %}"
                            alt="drop down arrow"
                        /></div
                ></span>
            </div>
            <div class="field">
                <label for="projectName">Team lead</label>
                <span class="dropDownList"
                    ><input
                        type="text"
                        placeholder="Select team lead"
                        value="{{ singleProject.team_lead }}" />
                    <div class="downarrow">
                        <img
                            src="{% static '../static/images/arrow-down.svg' %}"
                            alt="drop down arrow"
                        /></div
                ></span>
            </div>
        </div>
        <div class="field">
            <label for="projectName">Assigned to</label>
            <span class="dropDownList"
                ><input type="text" placeholder="Select employee" value="{{ singleProject.employee_name }}" />
                <div class="downarrow">
                    <img
                        src="{% static '../static/images/arrow-down.svg' %}"
                        alt="drop down arrow"
                    /></div
            ></span>
        </div>

        <div class="createButtons">
            <button class="close" id="projectCancel">cancel</button>
            <button class="create" id="projectSave">Create</button>
        </div>
    </div>
</div>

<div id="updateModalContainer" class="updateModal">
    <div class="update-content">
        <div class="closeIcon" id="updateClose">
            <img
                src="{% static '../static/images/Close.svg' %}"
                alt="close icon"
            />
        </div>
        <h4>Project updating</h4>
        <div class="twoField">
            <div class="field">
                <label for="projectName">Project name</label>
                <input
                    type="text"
                    placeholder="Updated by"
                    value="iLM Web app development"
                />
            </div>
            <div class="field">
                <label for="projectName">Priority</label>
                <input
                    type="text"
                    placeholder="Updated by"
                    value="Urgent"
                />
            </div>
        </div>

        <div class="field">
            <label for="projectName">Update Description</label>
            <textarea
                type="text"
                placeholder="Add description..."
                class="textField"
                rows="3"
            ></textarea
            >
        </div>
        
        <div class="field">
            <label for="projectName">Select priority</label>
            <span class="dropDownList"
                ><input
                    type="text"
                    placeholder="Select project priority"
                    value="On progress" />
                <div class="downarrow">
                    <img
                        src="{% static '../static/images/arrow-down.svg' %}"
                        alt="drop down arrow"
                    /></div
            ></span>
        </div>
        <div class="updateButtons">
            <button class="updateClose" id="updateCancel" type="button" >cancel</button>
            <button class="updateCreate" id="UpdateSave">Update</button>
        </div>
    </div>
</div>

<div id="logoutModal" class="logoutModal">
    <form class="logoutModal-content" action="{% url 'logout_user' %}" method="POST">
        {% csrf_token %}
        <h4>Logout</h4>
        <p>Are you sure want to logout ?</p>
        <div class="createButtons">
            <button class="close" id="logoutcancel">cancel</button>
            <button class="create" id="logoutsave">Logout</button>
        </div>
    </form>
</div>

<div id="container">
    <nav>
        <ul>
            <li class="nav-item">
                <a href="dashboard"
                    ><div class="icon">
                        <img
                            src="{% static 'images/dark-dashboard-icon.svg' %}"
                            alt="Dashboard Icon"
                        />
                    </div>
                    Dashboard</a
                >
            </li>
            <li class="nav-item">
                <a href="projects"
                    ><div class="icon">
                        <img
                            src="{% static 'images/dark-project-icon.svg' %}"
                            alt="Project Icon"
                        />
                    </div>
                    Projects</a
                >
            </li>
        </ul>
        <div class="logout" id="logout">
            <a href="#"
                ><div class="icon">
                    <img
                        src="{% static 'images/dark-logout-icon.svg' %}"
                        alt="Logout Icon"
                    />
                </div>
                Logout
            </a>
        </div>
    </nav>
    <div class="content">
    <section id="emptyProject">
        <h4>Projects</h4>
        <div class="emptyProjectFrame">
            <img src="{% static '../static/images/empty-project.png'%}" alt="empty project">
        </div>
    </section>
</div>
</div>
{% endblock %}